.navbar{
	margin-bottom: 0px;
}

.site-footer{
	background-color:  black;
	color: white;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;

}

.bottom-footer{
	border-top: 1px solid #b2b2b2;
	margin-top: 10px;
	padding-top: 10px;
	color: #b2b2b2;
}

.footer-nav{
	text-align: right;
	list-style: none;
}
.footer-nav li{
	display: inline;
}

.footer-nav li:not(:first-child):before{
	content: '|';
	padding: 0px 5px;
}

.footer-nav a{
	color: #b2b2b2;
}

.footer-nav a:hover{
	color: #fff;
	text-decoration: none;
}

#head-page2{
	color: blue;
	background: #b2b2b2;
}